/_ReSharper.*/
.DS_Store
bin/
obj/
*.TMP
*.Resharper
*.user
*.suo
*.sui
*.tss
*~
*.VisualState.xml
*.msi
*.exe
*.vdproj
*~HEAD
._*
#nuget 
#.nuget/
#!NuGet.exe
packages/
node_modules
npm-debug.log
.idea

